.bubble-container {
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom:10px;
    background: #00bfb6;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-family: arial;    
}

.sender-text {
    font-family: arial; 
    font-weight: 300;
    font-size: 12px;
    text-align: left;
}