<div class="window-container">
    <div class="message-area">
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>
        <app-text-bubble></app-text-bubble>

    </div>
    <div class="text-type-area-container">
        <div>            
            <textarea matInput style="width: 100%; height: 100%;" placeholder="Type your message here"></textarea>                     
        </div>
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>arrow_circle_right</mat-icon>
          </button>
    </div>
    
</div>
