<div class="window-container">

    <div class="message-area">
        <app-text-bubble  *ngFor="let message of displayedMessages" [senderName]="message.senderName" [message]="message.senderMessage"></app-text-bubble>        
    </div>

    <div class="text-type-area-container">                  
        <textarea matInput class="text-type-area form-control pl-2 my-0" style="width: 100%; height: 100%;" placeholder="Type your message here" [(ngModel)]="typeBoxContent"></textarea> 
        <button mat-icon-button style="justify-content: center;" aria-label="Example icon button with a vertical three dot icon" (click)="onSendButtonPressed($event)">
            <mat-icon>arrow_circle_right</mat-icon>
        </button>
    </div>
    
</div>
